body {
  padding-top: 50px;
}

.application-background {
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}

.office-wrapper {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  -webkit-transition: width 0.5s;
          transition: width 0.5s;
}

.modal-open .application-background {
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

#officeView {
  margin-top: 10px;
  width: 2623px;
  height: 548px;
  background-image: url(../images/office-full.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.column {
  float: left;
  margin-top: 30px;
}
#officeView .desk {
  width: 36px;
  height: 54px;
  padding: 0 2px;
  position: absolute;
}

#officeView .desk .owner-name {
  font-size: 11px;
  line-height: 11px;
  display: block;
  word-wrap: break-word;
}

#officeView .desk .desk-number {
  text-align: center;
  line-height: 54px;
  display: block;
}

#officeView .desk .team-logo,
#officeView .desk .project-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
}

.desk .owner-devices .device {
  background-color: rgb(247, 197, 197);
  width: 80px;
  border-bottom: 1px solid;
}

.names-rotated #officeView .desk {
  width: 54px;
  height: 36px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.names-rotated #officeView .desk .desk-number {
  line-height: 36px;
}

#user-profile-modal .thumbnail {
  margin: 0 20px 0 0;
}

#user-profile-modal .panel {
  clear: both;
}
.navbar-inverse .navbar-nav>li>a {
  color: #b7b7b7;
}

.refresh-btn {
  padding: 5px;
  margin: 0;
}

.people-dashboard, .devices-dashboard {
  box-shadow: -5px 0 15px rgba(0,0,0,0);
  position: fixed;
  top: 50px;
  bottom: 0;
  right: -280px;
  width: 280px;
  -webkit-transition: all .5s;
          transition: all .5s;
}

.dashboard-expanded .people-dashboard {
  right: 0;
  box-shadow: -5px 0 15px rgba(0,0,0,.5);
}

.dashboard-expanded .office-wrapper {
  width: calc(100% - 280px);
  -webkit-transition: all .5s;
          transition: all .5s;
}
.devices-dashboard .device-list-wrapper {
  overflow: auto;
  position: absolute;;
  top: 32px;
  bottom: 0;
  right: 7px;
}
/*.devices-expanded .device-list-wrapper {*/
  /*right: 7px;*/
/*}*/
.devices-dashboard li .device-item {
  background-color: green;
}
.devices-dashboard li .device-item.free {
  background-color: red;
}
.devices-expanded .devices-dashboard {
  right: 0;
  box-shadow: -5px 0 15px rgba(0,0,0,.5);
}

.devices-expanded .office-wrapper {
  width: calc(100% - 280px);
  -webkit-transition: all .5s;
          transition: all .5s;
}

.people-dashboard ul {
  overflow: scroll;
  height: calc(100% - 85px);
}

.people-dashboard .dragging {
  background: transparent;
  border: 0 none;
}

.people-dashboard li .glyphicon {
  position: absolute;
  top: 13px;
}

.people-dashboard .person-name {
  padding-left: 20px;
}

.people-dashboard .add-person {
  position: absolute;
  bottom: 0;
  background: black;
  width: 100%;
}

.people-dashboard .add-person input {
  width: 100%;
  padding: 10px;
}
