<!doctype html>
<html ng-app="wiwApp">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Who is where in Perform Polish Office</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="media/css/style.css">
  </head>
  <body ng-controller="OfficeController" ng-class="{'names-rotated' : desksInverted, 'dashboard-expanded' : showDashboard, 'devices-expanded': showDeviceList}">
    <div class="application-background">
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Who is where? <span class="label label-danger">{{peopleCount()}}</span></a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="#" ng-click="rotateNames($event)">Rotate desks</a></li>
              <li><a href="#" ng-click="toggleNumbers($event)">Toggle numbers</a></li>
              <li><a href="#" ng-click="toggleTeams($event)">Toggle teams</a></li>
              <li><a href="#" ng-click="toggleProjects($event)">Toggle projects</a></li>
              <li><a href="#" ng-click="toggleDevices($event)">Toggle devices</a></li>
              <li><a href="#" ng-click="toggleDeviceList($event)">Toggle device list</a></li>
              <li><a href="#" ng-click="editPeople($event)" ng-show="loggedIn">Toggle Dashboard</a></li>
              <li><a href="#" ng-hide="loggedIn" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
              <li><a href="#" ng-show="loggedIn" ng-click="logout($event)"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="office-wrapper">
        <div id="officeView">
          <desk></desk>
        </div>
      </div>

      <div ng-include="'app/views/admin-dashboard.html'"></div>

      <div ng-include="'app/views/device-list.html'"></div>
    </div>

    <profile></profile>

    <div ng-include="'app/views/login-modal.html'"></div>
  
    <!-- Core of the framework -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-filter/dist/angular-filter.js"></script>
    <script src="bower_components/ngDraggable/ngDraggable.js"></script>

    <script src="app/app.js"></script>

    <!-- Directives -->
    <script src="app/directives/desk.js"></script>
    <script src="app/directives/profile.js"></script>

    <!-- Controllers -->
    <script src="app/controllers/office.js"></script>
    <script src="app/controllers/desk.js"></script>
    <script src="app/controllers/profile.js"></script>
    <script src="app/controllers/login.js"></script>
    </script>
  </body>
</html>
