<div class="people-dashboard">
  <ul class="peopleList sortable list-group" ng-model="unassignedPeople">
    <li class="list-group-item" ng-repeat="person in unassignedPeople" ng-drag="true" ng-drag-data="$index">
      <span class="glyphicon glyphicon-screenshot"></span> <span class="person-name">{{person.name}}</span>
    </li>
  </ul>
  <div class="add-person">
    <form>
      <input placeholder="Type name here"></input>
      <input class="btn btn-primary" type="button" ng-click="addPerson($event)" value="Add New Person" />
    </form>
  </div>
</div>
