<div ng-repeat="desk in desks" class="desk" style="left: {{desk.x}}px; top: {{desk.y}}px" ng-click="showProfile(desk.id)" ng-drop="true" ng-drop-success="onDropComplete($data)">
  <b class="owner-name" ng-hide="$parent.showNumbers || $parent.showTeams || $parent.showProjects || $parent.showDevices">{{desk.owner.name}}</b>
  <b class="owner-devices" ng-show="$parent.showDevices">
    <div ng-repeat="device in desk.owner.devices" class="device">{{device.deviceName}}</div>
  </b>
  <i class="desk-number" ng-show="$parent.showNumbers">{{desk.id}}</i>
  <img ng-src="{{desk.owner.teamLogo}}" alt="{{desk.owner.teamName}}" ng-show="$parent.showTeams" width="30" class="team-logo">
  <img ng-src="{{desk.owner.projectLogo}}" alt="{{desk.owner.projectName}}" ng-show="$parent.showProjects" width="30" class="project-logo">
</div>
