<div class="devices-dashboard">
  <p class="refresh-btn">
  <button type="button" class="btn btn-default btn-xs" ng-click="loadDevices()">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh
  </button>
  <input type="text" ng-model="searchDevices.deviceName" placeholder="search devices">
  </p>
  <div class="device-list-wrapper">
    <ul class="peopleList list-group" >
      <li class="list-group-item" ng-repeat="device in devices.data | orderBy: '-name' | filter:searchDevices">
        <span class="device-item glyphicon glyphicon-screenshot" ng-class="{'free' : device.name != null}"></span>
        <span class="person-name">{{device.deviceName}} <span ng-show="device.name">-</span> {{device.name}}</span>
      </li>
    </ul>
  </div>
</div>
