<!-- Login modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false" ng-controller="LoginController">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Log In</h4>
      </div>
      <div class="modal-body clearfix">
        <form id="popupLoginForm" role="form" ng-submit="sendLoginData($event)">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="login" id="username" placeholder="Enter username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
          </div>
          <input type="submit" class="btn btn-primary pull-right" value="Log In">
        </form>
      </div>
    </div>
  </div>
</div>